@import "~bootstrap/scss/bootstrap.scss";
@import "~font-awesome/css/font-awesome.css";

//mixin to increase the width to 100% on small screens example @content
@mixin phone {
    @media only screen and (max-width: 480px) {
      @content;
    }
  }
  
.main {
  .header {
    background-color: lightcyan;
    width: 100%;
   
    margin: auto;
    border: 1px solid black;
  }
  @include phone{
      .header{
      width:50%;
      }
  }
}

