* {
    box-sizing: border-box;
}

html {
    min-width: 30rem;
    
    /* CSS Custom Properties */
    --background: white;
    --foreground: #F15B2A;

}

body {
    color: rgb(194, 168, 168);
}




/* Grid Container
_________________________________________________________________________________________ */
@media (max-width: 58em) {

    html {
        font-size: 80%;
    }

}